<p>
  
</p>
<!-- <div id="header"> Project Manager </div>
<div id="sidebar-left">Options
  <br>
<a routerLink="/addproject">Add Project</a>
<br>
<a routerLink="/addtask">Add Task</a>
<br>
<a routerLink="/adduser">Add User</a>
<br>
<a routerLink="/viewtask">View Task</a>
</div>
<div id="main">
  Main: <router-outlet></router-outlet>

</div>
<div id="footer">Footer</div> -->
<div id="header"> Project Manager</div>
<div id="sidebar-left">
  <div class="jumbotron" style="background-color: antiquewhite">
    <div class="row">
      <div>
          <td>
              <button (click)="addproject()" class="btn btn-success">Add Project</button>
          </td>
      </div>
      <div>
          <td>
              <button (click)="addtask()" class="btn btn-success">Add Task</button>
          </td>
      </div>
      <div>
        <td>
          <button (click)="adduser()" class="btn btn-success">Add User</button>
        </td>
      </div>
      <div>
        <td>
          <button (click)="viewtask()" class="btn btn-success">View Task</button>
        </td>
      </div>    
    </div>
</div>

</div>
<div id="main">
    
  <router-outlet></router-outlet>
  
</div>
<div id="footer"></div>