<div class="jumbotron">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2>Add User</h2>
                    <div>
                        <label>First Name:      
                            <input type="text" [(ngModel)]="taskuser.userfirstname" placeholder="First Name"/>  
                        </label>
                    </div>
                     <div>
                        <label>Last Name: 
                          <input [(ngModel)]="taskuser.userlastname" placeholder="Last Name"/>
                        </label>
                    </div>
                    <div>
                        <label>Employee ID:
                          <input type="text" [(ngModel)]="taskuser.useremployeeid" placeholder="Employee ID"/>
                        </label>
                    </div>
                    <tr>
                      <td>
                        <div>
                            <button (click)="addUser()" class="btn btn-primary">{{addupdateButton}}</button>
                        </div>
                      </td>
                      <td>
                          <div>
                              <button (click)="resetUser()" class="btn btn-primary">Reset</button>
                          </div>
                      </td>
                    </tr>
            </div>
        </div>
    </div>
    
    <hr>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 offset-md-3">
                <input [(ngModel)]="userSearch" placeholder="Search by Employee ID..."/>
                <button (click)="searchUser()" class="btn btn-primary">Search</button>
                
            </div>
            <div class="col-md-5">
                Sort:    
                <td>
                  <button (click)="sortByFirstName()" class="btn btn-primary">First Name</button>  
                </td>       
                <td>
                  <button (click)="sortByLastName()" class="btn btn-primary">Last Name</button> 
                </td>
                <td>
                  <button (click)="sortByID()" class="btn btn-primary">Id</button> 
                </td>
            </div>
        </div>
  
    </div>
    <hr>
    <div *ngFor="let user of users" >
      <div class="container-fluid">
        <div class="row">
          <div class="col-6 offset-md-3">
              <ul>
                  <li >
                      First Name:  {{ user.userfirstname }}
                  </li>
                  <li>
                      Last Name:   {{ user.userlastname }}
                  </li>
                  <li>
                      Employee ID:  {{ user.useremployeeid }}
                  </li>
              </ul>
          </div>
          <div class="col-3">
              <div class="row">
                  <tr>
                    <td>
                      <button (click)="editUser(user)" class="btn btn-primary">Edit</button>
                    </td>
                    <td>
                      <button (click)="deleteUser(user)" class="btn btn-primary">Delete</button>
                    </td>
                      
                  </tr>
              </div>
          </div>
        </div>
        
      </div>
    </div>
  
</div>


